html {
    background: black url(https://png.pngtree.com/thumb_back/fh260/background/20201028/pngtree-abstract-technology-background-technical-electric-image_443494.jpg) center left no-repeat;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
}

#infos {
    background-color: white;
    max-width: 700px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

p {
    margin-top: 20px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
    text-shadow: .7px .7px 10px rgba(0, 0, 0, 0.507);
}

ul, menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

menu {
    /* background-color: white;
    max-width: 700px; */
    margin: auto;
    font-size: 2.5em;
    margin-top: 10px;
    /* border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527); */
}


li {
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
    background: -webkit-linear-gradient(#128fe2, #044ebd);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
    font-weight: 700;
    
}

a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
    font-size: 1.2em;
}